In [46]:
def isAvailable(str):
    if str==None or str!=str or len(str)==0:
        return 0
    else:
        return 1    
def outputClass(str,x):
    return x[str]

def splitColId(num):
    def splitCol(str):
        if str==None or str!=str or len(str)==0:
            return ""
        else:
            s= str.split()
            if num < len(s):
                return s[num]
            else:
                return ""
    return splitCol

def convertDate(str):
    if str==None or str!=str or len(str)==0:
        return 365
    tstr = str.split(" ");
    vals={"year":365,"years":365,"months":30,"days":1,"month":30,"day":1,"weeks":7,"week":7}
    result=0
    i=0;
    while (i < len(tstr)):
        result=result+(int(tstr[i])*vals[tstr[i+1]])
        i=i+2;
    return result

In [12]:
import pandas as pd
rs=pd.read_csv("train.csv")
rs.describe()
rs["hasName"]=rs["Name"].apply(isAvailable)
rs["convertedAge"]=rs["AgeuponOutcome"].apply(convertDate)
rs["subsex"]=rs["SexuponOutcome"].apply(splitColId(1))
rs["subsex"]=rs["SexuponOutcome"].apply(splitColId(0))
rs.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
count,26729,19038,26729,26729,13117,26729,26728,26711,26729,26729
unique,26729,6374,22918,5,16,2,5,44,1380,366
top,A718146,Max,2015-08-11 00:00:00,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,1,136,19,10769,7816,15595,9779,3969,8810,2824