In [5]:
def isAvailable(str):
    if str==None or str!=str or len(str)==0:
        return 0
    else:
        return 1    
def outputClass(str,x):
    return x[str]

def splitColId(num,p):
    def splitCol(str):
        if str==None or str!=str or len(str)==0:
            return ""
        else:
            s= str.split(p)
            if num < len(s):
                return s[num]
            else:
                return ""
    return splitCol

def convertDate(str):
    if str==None or str!=str or len(str)==0:
        return 365
    tstr = str.split(" ");
    vals={"year":365,"years":365,"months":30,"days":1,"month":30,"day":1,"weeks":7,"week":7}
    result=0
    i=0;
    while (i < len(tstr)):
        result=result+(int(tstr[i])*vals[tstr[i+1]])
        i=i+2;
    return result

In [3]:
import pandas as pd
rs=pd.read_csv("train.csv")
rs.describe()
rs["hasName"]=rs["Name"].apply(isAvailable)
rs["convertedAge"]=rs["AgeuponOutcome"].apply(convertDate)
rs["subsex"]=rs["SexuponOutcome"].apply(splitColId(1," "))
rs["sex"]=rs["SexuponOutcome"].apply(splitColId(0," "))
rs.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,hasName,convertedAge,subsex,sex
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,1,365,Male,Neutered
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,1,365,Female,Spayed
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,1,730,Male,Neutered
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream,0,21,Male,Intact
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,0,730,Male,Neutered

In [9]:
rs["breed1"]=rs["Breed"].apply(splitColId(1,"/"))
rs.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,hasName,convertedAge,subsex,sex,breed1
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,1,365,Male,Neutered,
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,1,365,Female,Spayed,
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,1,730,Male,Neutered,
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream,0,21,Male,Intact,
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,0,730,Male,Neutered,Miniature Poodle